{% extends 'base.html' %}


{% block content %}
    <div class="row">
    <div class="col-md-6 m-auto">
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: #ff0000">{{ error }}</p>
        {% endfor %}
    {% endfor %}
{#    <button type="submit">Sign up</button>#}
    <button class="btn btn-success btn-block">Login</button>

  </form>
</div>
    </div>
{% endblock %}