{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="row  justify-content-md-center">
                <div class="col-md-8">
                    <div class="post-wrapper">
                        {% for article in articles %}
                            <article class="post">
                                <div class="feature-image"><a href="{% url 'detail' article.id %}"><img src="{{ article.image }}"
                                                                                           alt=""></a></div>
                                <div class="blog-content">
                                    <ul class="post-meta">
                                        <li>{{ article.date }}</li>
                                    </ul>
                                {% if article.image %}
                                    <img src="{{ article.image.url }}" alt="image" class="responsive">
                                {% endif %}
                                    <h3 class="entry-title"><a href="{% url 'detail' article.id %}">{{ article.title }}</a></h3>
                                    <p>{{ article.text|truncatewords:10 }}</p>
                                    <a href="{% url 'detail' article.id %}" class="read-more">Read More <i
                                        class="ei ei-arrow_right"></i></a>
                                    {% if user.is_staff or user == article.author %}
{#                                    <div class="author"><img src="{{ article.image.url }}" alt="author">#}
{#                                        <a href="#" class="author-link">{{ article.author }}</a></div>#}
{#                                        {% elif user.id == author.id or user.is_superuser %}#}
                                        <a href="{% url 'edit' article.id %}" class="read-more float-right">Edit Article <i
                                            class="ei ei-pencil"></i></a>

                                    {% endif %}
                                </div>
                            </article>

                        {% endfor %}


{#                        <ul class="post-navigation">#}
{#                            <li class="active">1</li>#}
{#                            <li><a href="#">2</a></li>#}
{#                            <li class="next"><a href="#"><i class="ei ei-arrow_carrot-right"></i></a></li>#}
{#                        </ul>#}
                    </div>
                </div>
                <div class="col-lg-4">
{#                    {% include 'blog/sidebar.html' %}#}
                </div>
            </div>

{##}
{#{% if not user.is_authenticated %}#}
{#    <a href="{% url 'login' %}">LOGIN</a>#}
{#{% else %}#}
{#    <a href="{% url 'logout' %}">LOGOUT</a>#}
{#{% endif %}#}
{#<br>#}
{#{% for article in articles %}#}
{#    <p><a href="{% url 'detail' article.id %}"> {{ article }}</a></p>#}
{#{% endfor %}#}
{% endblock %}